<div class="col-lg-12 text-center">
	<ul class="list-unstyled fsocial list-inline">
		<li class="facebook">
			<a href="{{facebook}}" target="_blank">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li class="instagram">
			<a href="{{instagram}}" target="_blank">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li class="whatsapp">
			<a href="{{whatsapp}}" target="_blank">
				<i class="fa fa-whatsapp"></i>
			</a>
		</li>
		<li class="twitter">
			<a href="{{twitter}}" target="_blank">
				<i class="fa fa-twitter"></i>
			</a>
		</li>
		<li class="pinterest">
			<a href="{{pinterest}}" target="_blank">
				<i class="fa fa-pinterest-p"></i>
			</a>
		</li>
	</ul>
</div>
